@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme { 
    --font-quicksand: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    font-family: var(--font-quicksand);
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(140deg, #0b1e42 0%, #335daf 50%, #0b1e42 100%);
}

.CustomScrollbar {
    scrollbar-width: none;
}

.CustomScrollbar::-webkit-scrollbar {
    display: none;
}
