@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
    --font-quicksand: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    font-family: var(--font-quicksand);
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(140deg, #0b1e42 0%, #335daf 50%, #0b1e42 100%);
}

header {
    background-color: #002366;
    height: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(163, 214, 255, 0.817);
}
